# Class 05
- `dir() type() id() `
- Nested List
- Comparison Operators
-

In [1]:
name : str = "Rehan"

print(id(name))

133703084651632

In [2]:
names: list[str] = ["Rehan"]

print(f' Address of List {id(names)}')

print(f' Address of first item of List {id(names[0])}')

 Address of List 133702042699456
 Address of first item of List 133703084651632

In [6]:
student_grades = [
    ["Rehan", 85, 90, 87], # first element 0 index
    ["Usman", 83, 95, 92], # index 1
    ]

print(student_grades[0])

print(student_grades[1][0])

['Rehan', 85, 90, 87]
Usman

In [10]:
print(student_grades)
print(student_grades[0:-1])

[['Rehan', 85, 90, 87], ['Usman', 83, 95, 92]]
[['Rehan', 85, 90, 87]]

## Control Flows
### Comparison Operators

In [12]:
# Equality check ==
print(5==6)

False

In [14]:
print(5 == 5)
print(5 == '5')

True
False

In [15]:
# !=
print(5 != 6)
print(5 != 5)

True
False

In [17]:
name_1 = "Rehan"
name_2 = "rehan"

print(name_1 == name_2)

False

In [18]:
# <
# >

number_1 = int(input("Enter first number: "))
number_2 = int(input("Enter second number: "))

print(number_1 < number_2)

print(number_1 > number_2)

Enter first number: 10
Enter second number: 12
True
False

In [20]:
# <=  any_number <= 6  (any_number = 6)
# >=

number_1 = int(input("Enter first number: "))
number_2 = int(input("Enter second number: "))

print(number_1 <= number_2)

print(number_1 >= number_2)

Enter first number: 12
Enter second number: 13
True
False

- if
- if-else
- if-elif-elif-else

**Allot CNIC to user with age 18 above**

*Steps:*
1- Ask age from the user

2- Store age in variable

3- Check user age with requirement -

4- Allow or disallow

In [24]:
age : int = int(input("Enter your age: "))


if age >= 18:    # if evaluate to True
    print ("CNIC will be issued")
else:
    print("Wait for 18")

Enter your age: 12
Wait for 18

### Multiple conidtions but independent
0 to 6 (Birth Certificate) --> 7 to 17 (Domicile)  --> 18 or above (CNIC)

In [31]:
age : int = int(input("Enter your age: "))

if 0 <= age <= 6:
    print("Issue birth certificate")
elif 7 <= age <= 17:   # 7,....17 evaluates to True
    print("Issue domicile")
elif age >= 18:
    print("Issue CNINC")
else:
    print("Sorry of inconvenience")

Enter your age: 5
Issue birth certificate

### Falsy Values
- 0
- empty string
- False
- empty list
- empty dictionary
- empty set and so on

In [ ]:
value : float = 0.0

if value:
    print("This is true")
else:
    print("This is falsy value, evaluated to False")

In [41]:
value : str = ""

if value:
    print("This is true")
else:
    print("This is falsy value, evaluated to False")

This is true

In [42]:
value : list = []

if value:
    print("This is true")
else:
    print("This is falsy value, evaluated to False")

This is falsy value, evaluated to False

In [36]:
name = "Rehan"

if name:
    print("hello")
elif name:
    print("hi")

hello

### Mutiple conditions but dependent

In [45]:
nationality : str = input("Enter your nationality: ")

if nationality.lower() == 'pakistan':
    age : int = int(input("Enter your age: "))

    if age >= 18:
        print("CNIC Issues")
    else:
        print("Wait for 18")

else:
    print("Nadra only issues CINIC for Pakistanis")

Enter your nationality: INDIAN
Nadra only issues CINIC for Pakistanis

## Logical Operators

`and` `or` `not`

*Do check the notes for detailed explanation*

In [48]:
name = 'Rehan'
age = 6

# and shall evaluates to True if both conditions evaluate to True
#       True   and  False   --> False
if name == 'Rehan' and age > 4:
    print ("If block executed")
else:
    print("else block executed")

else block executed

In [52]:
name = 'Rehan'
age = 2

# and shall evaluates to True if both conditions evaluate to True
#       True   and  False   --> False
if name == 'Rean' or age > 4:
    print(f"First condition: {name == 'Rehan'}, Second cond: {age > 4}")
    print ("If block executed")
else:
    print("else block executed")

else block executed

In [56]:
name = 'Rehan'
age = 2

# and shall evaluates to True if both conditions evaluate to True
#       True   and  False   --> False
if not name == 'Rhan':
    print(f"First condition: {name == 'Rhan'}")
    print ("If block executed")
else:
    print("else block executed")

First condition: False
If block executed

#### Ternary Operator
Storing a value in variable after testing a condition

In [57]:
# Ternary Operator
message : str = "store if message" if 2 > 3 else "Store else message"
print(message)

Store else message