# Membership Operators

`in`
` not in`

In [ ]:
from typing import List

fruits: List[str] = ["Apple", "Banana"]

In [5]:
fruits: list[str] = ["Apple", "Banana", "Mango"]

In [8]:
if "Apple" in fruits:
    print("In the list")

In the list

In [9]:
if "Strawberry" not in fruits:
    print("Strawberry not in fruits list")

Strawberry not in fruits list

In [10]:
name: str = "Rehan"
print('a' in name)

True

## Identity Operators

In [11]:
# Comparing two variables that point to the same object
a = [1, 2, 3]  #
b = a
print(a is b)  # Output: True

# Comparing two variables that point to different objects
c = [1, 2, 3]
print(a is c)  # Output: False

True
False

In [13]:
print("Memory ID of a", id(a))
print("Memory ID of b", id(b))
print("Memory ID of c", id(c))

Memory ID of a 133108618224704
Memory ID of b 133108618224704
Memory ID of c 133108553773312

In [15]:
a = [1, 2, 3]
c = [1, 2, 3]

print("Identity", a is c)

print("Equality", a == c)

Identity False
Equality True

In [ ]:
student_score = [
    ["Rehan", 87],
    ["Usman", 100]
]

## Dictionary

- key, value pair

In [ ]:
student_score = {
    "Johny": 87,
    "Mark": 100
}

# Keys shall be unique
# Keys can be any data type that is immutable
# Value cab be any data type

#### string, integer, float, bool

In [ ]:
from typing import Any

student_score: dict[int, list[int] | dict[str, int]] = {
    1: [1, 2, 3, 4, 4],
    2: {"Rehan": 87},
    3: "Usman"
}

# key : value

In [ ]:
# prompt: generate a dictionary of ten students with name and score pair. do not write code, just provide a hardcoded dictionary

student_scores: dict[str, int] = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88,
    "Frank": 75,
    "Grace": 90,
    "Helen": 82,
    "Ivy": 98,
    "Jack": 80
}

In [ ]:
student_dict = {
    "Rehan": 87,
    "Rehan": 0
}

In [ ]:
(Tuples)
[List]
{Dictionary}

In [ ]:
total_score: int = 32


total_score = "Rehan"

In [23]:
student_dict = {
    "Rehan": 87,
    "Rehan": 50,
    "Rehan": 0,
}

# print(dir(student_dict))
print(student_dict["Rehan"])
print(student_dict.get("Rehan"))

0
0

In [18]:
# accessing values

student_scores: dict[str, int] = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88,
    "Frank": 75,
    "Grace": 90,
    "Helen": 82,
    "Ivy": 98,
    "Jack": 80
}

print(student_scores["Eve"])

print(student_scores.get("Eve"))

88
88

In [19]:
print(student_scores["Rehan"])

KeyError: 'Rehan'

In [22]:
print(student_scores.get("Rehan"))

None

In [25]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']