## Basics of Fucntions in python

In [ ]:
print("hello world")

hello world

In [ ]:
print("")

In [ ]:
def add (a, b):
    result = a + b
    return result

In [ ]:
result = add(10, 20)
print(result)

30

In [ ]:
def greet():
    print("hello")

In [ ]:
greet()

hello

In [ ]:
result = greet()
print(result)

hello
None

In [ ]:
def greet():
    print("Something is happending")
    return "hello"

Something is happending

In [ ]:
greet()
print("-------------")

Something is happending
-------------

In [ ]:
result = greet() # hello


print(result)

Something is happending
hello

In [ ]:
name = "Reahn"
name
a = 5

In [ ]:
def addition ():
    a = 10
    b = 20
    result = a + b
    return result

In [ ]:
some_result = addition()
print(f"I am using here {some_result}")

I am using here 30

In [ ]:
# some_result = addition()
print(f"I am using here {addition()}")

I am using here 30

In [ ]:
def addition ():
    a = 10
    b = 20
    result = a + b

In [ ]:
print(f"I am using here {addition()}")

I am using here None

In [ ]:
def greet_01 ():
    return "Hello"

In [ ]:
print(f"{greet_01()}")

Hello

In [ ]:
def greet_02(student_name):
    return f"Hello {student_name}"

In [ ]:
# Below code will raise TypeError
print(greet_02())

TypeError: greet_02() missing 1 required positional argument: 'student_name'

In [ ]:
print(greet_02("Rehan"))

Hello Rehan

In [ ]:
print(greet_02("Usman"))

Hello Usman

In [ ]:
print(greet_02("Mazhar"))

Hello Mazhar

## Loops in Python

In [ ]:
friends = ["Rehan", "Usman", "Musa"]

print(f"Hello! {friends[0]} You invited on dinner")
print(f"Hello! {friends[1]} You invited on dinner")
print(f"Hello! {friends[2]} You invited on dinner")

Hello! Rehan You invited on dinner
Hello! Usman You invited on dinner
Hello! Musa You invited on dinner

In [ ]:
print(f"Hello! {friends} You invited on dinner")

- for loop
- while loop

### `for` loop in python

In [ ]:
friends = ["Rehan", "Usman", "Musa"] # iterable -- iterations --> cycles

for friend in friends:

    print(f"Hello! {friend} You are invited on dinner")

Hello! Rehan You are invited on dinner
Hello! Usman You are invited on dinner
Hello! Musa You are invited on dinner

- range()
- enumerate()

### `for` loop with slicing

In [ ]:
friends = ["Rehan", "Usman", "Musa", "Hadia", "Wania", "Mazhar", "Ibtisam"] # iterable -- iterations --> cycles

for friend in friends[0:3]:
    print(f"Hello! {friend} You are invited on dinner")

Hello! Rehan You are invited on dinner
Hello! Usman You are invited on dinner
Hello! Musa You are invited on dinner

### `range` function in python

In [ ]:
# range(st_pt, end_pt, step)
# range(1,11)

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [ ]:
for i in range(1,11):
    print("Rehan")

Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan
Rehan

### `enumerate` function

In [ ]:
result = enumerate(friends)
print(next(result))
print(next(result))
print(next(result))

(0, 'Rehan')
(1, 'Usman')
(2, 'Musa')

In [ ]:
friends = ["Rehan", "Usman", "Musa", "Hadia", "Wania", "Mazhar", "Ibtisam"]

for value in enumerate(friends):
    print(value)
    print(type(value))

(0, 'Rehan')
<class 'tuple'>
(1, 'Usman')
<class 'tuple'>
(2, 'Musa')
<class 'tuple'>
(3, 'Hadia')
<class 'tuple'>
(4, 'Wania')
<class 'tuple'>
(5, 'Mazhar')
<class 'tuple'>
(6, 'Ibtisam')
<class 'tuple'>

#### tuple unpacking - Shall be used in `for` loop

In [ ]:
# tuple unpacking
# named_tuple = (0, "Rehan")
# first_value = named_tuple[0]
# second_value = named_tuple[1]

i, name = (0, "Rehan")
print(i)
print(name)

0
Rehan

In [ ]:
friends = ["Rehan", "Usman", "Musa", "Hadia", "Wania", "Mazhar", "Ibtisam"]

for i, name in enumerate(friends):
    print(f"Index is {i} for value: {name}")

Index is 0 for value: Rehan
Index is 1 for value: Usman
Index is 2 for value: Musa
Index is 3 for value: Hadia
Index is 4 for value: Wania
Index is 5 for value: Mazhar
Index is 6 for value: Ibtisam

In [ ]:
friends = ["Rehan", "Usman", "Musa", "Hadia", "Wania", "Mazhar", "Ibtisam"]

for i, name in enumerate(friends):
    if name == "Usman":
        continue
    print(f"Index is {i} for value: {name}")

Index is 0 for value: Rehan
Index is 2 for value: Musa
Index is 3 for value: Hadia
Index is 4 for value: Wania
Index is 5 for value: Mazhar
Index is 6 for value: Ibtisam

In [ ]:
friends = ["Rehan", "Usman", "Musa", "Hadia", "Wania", "Mazhar", "Ibtisam"]

for i, name in enumerate(friends):
    if name == "Usman":
        break
    print(f"Index is {i} for value: {name}")

Index is 0 for value: Rehan

In [ ]:
friends = ["Rehan", "Usman", "Musa", "Hadia", "Wania", "Mazhar", "Ibtisam"]

for i, name in enumerate(friends):
    if i == 3:
        break
    print(f"Index is {i} for value: {name}")

Index is 0 for value: Rehan
Index is 1 for value: Usman
Index is 2 for value: Musa

In [ ]:
friends = ["Rehan", "Usman", "Musa", "Hadia", "Wania", "Mazhar", "Ibtisam"]

for i in range(0,len(friends)):
    if i == 3:
        break
    print(f"Index is {i} for value: {friends[i]}")

Index is 0 for value: Rehan
Index is 1 for value: Usman
Index is 2 for value: Musa

### `while` loop in python

In [ ]:
# while ("you have peanuts"):
#     "keep eating"

In [ ]:
count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

In [ ]:
password = ""
while password != "Pass123":
    password = input("Re-enter the password: ")

print("Access granted")

Re-enter the password: sdfdf
Re-enter the password: 1234
Re-enter the password: 454657
Re-enter the password: 23435
Re-enter the password: Pass123
Access granted

In [ ]:
while True:
    name = input("Enter your name: ")
    if name == "Rehan":
        break
    print("Keep running")

Enter your name: usman
Keep running
Enter your name: mazhar
Keep running
Enter your name: rehan
Keep running
Enter your name: musa
Keep running
Enter your name: Rehan

## Assignment
Write a program for "Guess the number" game.

`import random`

`number = random.randint(1,5)`

or

`from random import randint`

`number = randint(1,5)`